@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility for smooth scroll behavior */
.scroll-smooth { scroll-behavior: smooth; }
.shadow-soft {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body {
  background-color: #0a0f24;
}

/* #0a0f24 */